@import "../../style-config//mixins.scss" , "../../style-config//variable.scss";



body{
    color: #ededed;
    background: #081b29;
}
@keyframes slideTop{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }
  //changing
  .about {
    display: grid;
    grid-template-columns:  1fr; // Default to one column for small screens
    align-items: center;
    gap:  1.5rem;
    margin-right:  160px;

    @include medium-screen {
        grid-template-columns: repeat(2,  1fr); // Two columns for medium screens
    }

    @include large-screen {
        grid-template-columns: repeat(2,  1fr); // Two columns for large screens
        margin-right:  0; // Adjust margin for larger screens if needed
    }
}
.about-img {
    .img-container {
        width:  100%; // Make container responsive
        height: auto; // Adjust height automatically
        padding:  20px;
        padding-bottom: 0px; // Adjust padding for smaller screens

        @include medium-screen {
            padding:  30px; // Increase padding for medium screens
            padding-left: 90px;
        }

        @include large-screen {
            padding:  195px;
            padding-left: 323px;
            padding-bottom: 0px; // Increase padding for large screens
        }
    }
//.about-img {
    .img {
        display: block;
        max-width:  100%; /* Ensures the image does not exceed its container's width */
        height: auto; /* Maintains the aspect ratio of the image */
        border-radius:  8px; /* Optional: to keep the image circular */
        padding:  0px; /* Optional: adjust padding as needed */
        padding-bottom: -31px;
    }
    
    /* Media query for desktop screens */
    @media (min-width:  1024px) {
        .about-img .img {
            max-width:  50%; /* Adjust the maximum width for desktop screens */
            height:  100%; /* Adjust the height for large screens */
            object-fit: cover; 
            padding-bottom: 100px;
            /* You can also adjust the height or other properties as needed */
        }
    }
}
//}
.about-text h2 span{
    //background: #000000;
    color: #0ef;
    //color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    //border: 2px solid transparent;
    padding: 5px 10px;
    transition: text-shadow 0.5s, border-color 0.5s;
}
.about-text h2 span:hover{
    text-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    border-color: cyan; /* Change border color on hover */
    /*box-shadow: 0 0 5px cyan,
                0 0 25px cyan,
                0 0 50px cyan,
                0 0 100px cyan,
                0 0 200px cyan;*/
}
  
  
.about-text h2 {
    @include typography(32px,  600,  1.2); // Adjust size and weight for smaller screens

    @include medium-screen {
        @include typography(48px,  600,  1.3); // Adjust for medium screens
    }

    @include large-screen {
        @include typography(60px,  600,  1.4); // Adjust for large screens
    }
}

.about-text h4 {
    @include typography(20px,  600,  1.5); // Adjust size and weight for smaller screens

    @include medium-screen {
        @include typography(24px,  600,  1.6); // Adjust for medium screens
    }

    @include large-screen {
        @include typography(28px,  600,  1.7); // Adjust for large screens
        padding-right: 20px;
    }
}

.about-text p {
    @include typography(16px,  400,  1.6); // Adjust size and weight for smaller screens

    @include medium-screen {
        @include typography(18px,  400,  1.7); // Adjust for medium screens
    }

    @include large-screen {
        @include typography(20px,  400,  1.8); // Adjust for large screens
    }
    text-align: justify;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    background: none;
}
.sub-title span{
    //background: #000000;
    color: #0ef;
    //color: transparent;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    //border: 2px solid transparent;
    padding: 5px 10px;
    transition: text-shadow 0.5s, border-color 0.5s;
}
.sub-title span:hover{
    text-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    border-color: cyan; /* Change border color on hover */
    /*box-shadow: 0 0 5px cyan,
                0 0 25px cyan,
                0 0 50px cyan,
                0 0 100px cyan,
                0 0 200px cyan;*/
}
.container {
    padding:  40px; /* Adjusted padding for small screens */
    padding-bottom:  40px;
}

/* Adjust padding for medium screens */
@media (min-width:  768px) {
    .container {
        padding:  60px;
        padding-bottom:  60px;
    }
}

/* Adjust padding for large screens */
@media (min-width:  1024px) {
    .container {
        padding:  90px;
        padding-bottom:  90px;
    }
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px,  1fr));
    grid-gap:  20px; /* Adjusted grid gap for small screens */
    margin-top:  10px;
    padding-top:  2px;
}

/* Adjust grid gap for medium screens */
@media (min-width:  768px) {
    .services-list {
        grid-gap:  40px;
    }
}

/* Adjust grid gap for large screens */
@media (min-width:  1024px) {
    .services-list {
        grid-gap:  60px;
    }
}
.services-list div {
    background-color: transparent;
    padding:  20px; /* Adjusted padding for small screens */
    font-size:  12px; /* Adjusted font size for small screens */
    font-weight:  400; /* Corrected font-weight value */
    border-right:  10px;
    border-radius:  20px;
    transition: background  0.5s, transform  0.5s;
    box-shadow:  1px  1px  20px #012290f7,  1px  1px  40px #0053b8f7;
}

/* Adjust properties for medium screens */
@media (min-width:  768px) {
    .services-list div {
        padding:  30px;
        font-size:  14px;
    }
}

/* Adjust properties for large screens */
@media (min-width:  1024px) {
    .services-list div {
        padding:  40px;
        font-size:  16px;
    }
}

.tab{
    padding-top: 80px;
    height: 600px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    margin-top: 200px;
}

.read{
    display: inline-block;
    padding: 12px 28px;
    margin-top: 270px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    color: #0ef;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}



.services-list div:hover{
    transform: translateY(-10px);
}





/*
.img::before {
    content: '';
    position: absolute;
    top: -10px; 
    right: -10px; 
    bottom: -10px; 
    left: -10px; 
    background: linear-gradient(315deg, #00ccff, #d400d4);
    border-radius: 50%; /* Make sure to match the border-radius of the image 
}*/
